* {
	font-family: monospace;
}
body {
	background-color: #000;
}
input {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(0, 255, 0, 0.8);
	border: none;
}
.jumbotron {
	height: 500px;
	background-color: #000;
}
.game {
	padding: 8px;
}
.jumbotron .container {
	position: absolute;
	top: 8px;
	color: hsl(60, 40%, 80%);
}
.jumbotron a {
	color: #fff;
}
.jumbotron h1 {
	padding: 8px;
	font-size: 48px;
}
ul li {
	display: inline;
}
.navbar a {
	position: relative;
	font-weight: bold;
	color: #dfdfdf;
	text-transform: uppercase;
	padding: 8px;
	top: 16px;
}
.rdm, .navbar a.rdm {
	color: hsl(0, 40%, 60%);
}
sup {
	color: hsla(0, 40%, 40%, 0.5);
	font-size: 50%;
	font-style: italic;
	font-size: 10px;
}
.ourgames h2 {
	font-size: 24px;
}
.window {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(0, 255, 0, 0.8);
	border-radius: 8px;
	width: 100%;
	float: left;
	padding: 8px;
}
.insertionPoint, .caret {
	display: inline-block;
	background-color: rgba(0, 255, 0, 0.8);
	animation: blink 0.4s steps(1) infinite;
}
@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}