@font-face {
			font-family: "Lemonfontz";
    		src: url(http://lemontastic.archlemon.com/beta/Lemonfont8.ttf) format("truetype");
}
@font-face {
    		font-family: "LemonfontLED";
    		src: url(../LemonLED.ttf) format("truetype");
}
@font-face {
    		font-family: "Lemonclock";
    		src: url(../LemonClock.ttf) format("truetype");
}

* {
	font-family: monospace, Lemonfontz;
	-webkit-transition: all .05s, width 2s;
}
p {
	font-size: 12px;
}
.calcScreen {
	color: #fff;
	background-color: #000;
	text-align: right;
	border-radius: 8px;
	padding: 8px;
	margin: 0;
	border: 0;
	font-size: 0.6em;
	font-family: monospace, Lemonclock, Lemonfontz;
}
.calcImg {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	margin: 0;
	border: 0;
}
#topBar {
height: 96px;
width: 50%;
margin: 0 25%;
text-align:center;
padding:none;
font-size:14px;
position: fixed;
top: 0;
}
#botBar {
	height: 2vh;
	text-align:center;
	background-color: black;
}
#botBar a {
	color: #880;
}
#game {
border-radius:2px;
/*height: 640px;*/
margin: 0px;
clear: both;
}
#gameScreen {
margin: 2px 1%;
height: 480px;
padding: 0px;
float: left;

z-index: 1;
}
.gamePic {
border-radius: 8px;
position: relative;

z-index: 2;
}
#log {
	font-size:76px;
}
.lemonButton {
	display: block;
	width: 80%;
	height: 27px;
	padding: 2px;
	margin: 4px 10%;
	text-align:left;
	font-size: 0.6em;
	/* Disable select */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-transition: all 0s;
	cursor: pointer;

	border: 2px outset rgba(32, 32, 32, 0.8);
}
.lemonButton p {
	padding: 1px;
	display: inline;
}
.lemonButton:hover {
	background-color: rgba(255, 255, 0, 0.8);
	border: 2px outset rgba(64, 64, 64, 0.8);
}
.lemonButton:active {
	-webkit-transition: all 0s;
	border: 2px inset rgba(0, 0, 0, 0.5);
	background-color: rgba(128, 128, 0, 0.6);
}
#makelem:active, #popButtonActive:active {
	background-color: black;
	color: hsla(60, 78%, 70%, 0.8);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.priceButton {
margin:auto;
border: 2px solid #888866;
border-radius:16px;
text-align:center;
font-size: 16px;
}
.henryHouse {
	opacity: 0.2;
	z-index: 3;
}
.henryHouse:hover {
	opacity: 1;
}
.closeFront {
	font-size: 20px;
	color: black;
	font-weight: bolder;
	margin-top: 8px;
	padding: 4px;
}
.closeFront p {
	background-color: hsla(0, 50%, 50%, 0.8);
	border: 2px solid black;
	width: 10%;
}
#frontWindow, #goodUpgrade, #badUpgrade {
display: none;
}
#time {
	font-weight: normal;
	text-align: center;
	margin: 0px;
	font-family: LemonClock;
	background-color: black;
	color: #fff;
	border-bottom-right-radius: 0.25em;
	padding: 0.25em;
}
#time span {
	font-family: LemonClock;
	margin: 0px;
}
.upgrade {
	background-color: #555;
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
}
.upgrade:hover {
	background-color: #eee;
}
#upgrades {
	width: 40%;
	display: inline;
}
#upgradeBar {
	width: 40%;
	display: inline;
}
/* Tienda provisional */
#windowBack {
	display: none;
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4000;
}
.window {
	display: none;
	width: 48%;
	height: 80%;
	margin: 0 26%;
	position: fixed;
	top: 4em;
	z-index: 4001;
	border-radius: 8px;
}
.border {
	background-color: hsla(60, 78%, 90%, 0.8);
	margin: 0;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 20px;
}
.shop {
	width: 100%;
}
.shop img {
	border: 2px solid transparent;
	padding: 0.5em;
	border-radius: 5%;
}
.shop img:hover {
	box-shadow: 0 0.2em 0.1em #000;
}
sup {
	color: hsl(0, 78%, 50%);
	font-style: italic;
}
#leftHUD {
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
	padding: 8px;
	z-index: 80;
	box-shadow: 0 0 8px #000;
	font-size: 0.6em;
	height: 92vh;
}
#rightHUD {
	position: fixed;
	right: 0; top: 0;
	width: 25%;
	padding: 0.2em;
	z-index: 80;
	box-shadow: 0 0 8px #000;
	height: 93vh;
	overflow-y: scroll;
}
.windos {
	position: fixed;
	box-shadow: 0 0 0.5em #000;
	padding: 0.5em;
}
#notif {
	opacity: 0.5;
	border-radius: 0;
	display: inline;
	z-index: 9999;
	padding: 2px;
	font-size: 12px;
	width: 140px;
	-webkit-transition: opacity 1s;
}
#tooltipwr {
	width: 128px;
	background: #fff;
	border-radius: 8px;
	text-align: center;
	padding: 8px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	box-shadow: 0 0 8px #000;
	opacity: 0;
}
#screenHue {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.1;
	background-color: #000;
	z-index: 10;
}
.mixTable td, .mixTable tr, .mixTable th {
	background-color: white;
	border-radius: 0.2em;
	border-collapse: collapse;
}
.mixTable td {
	text-align: right;
	color: black;
}
.mixTable th {
	color: black;
}
.spanish:lang(en), .es:lang(en) {
	display: none;
}
.english:lang(es), .en:lang(es) {
	display: none;
}
.langSwap:hover {
	color: #808;
}
.langSwap {
	color: #088;
}
#black {
	display: none;
	opacity: 0;
	background-color: black;
	z-index: 9999;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0; left: 0;
}
.langBar {
	color: #222;
	padding-left: 1vh;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #eee;
	width: 20%;
	height: 2em;
	z-index: 82;
}
#marq {
	background-color: black;
	color: #fff;
	border-bottom: 2px solid black;
	position: fixed;
	width: 75%;
	left: 0;
	top: 96px;
	height: 24px;
	padding-top: 4px;
	font-size: 12px;
	font-family: monospace, LemonfontLED;
	text-align: right;
	white-space: pre;
	font-weight: lighter;
}
#logcillo {
	overflow-y: hidden;
	height: 180px;
	background-color: black;
	color: white;
}
.window div {
	color: black;
	background-color: transparent;
	text-shadow: 0 0 0 transparent;
}
#changelog {
	color: black;
}
#helperTable {
	width: 90%;
	margin: 0 2.5%;
	border-collapse: collapse;
	font-size: 65%;
}
#helperTable tr:hover {
	background-color: #fa8;
	border: 4px solid black;
	cursor: pointer;
}
#helperTable tr td {
	border: 4px solid rgba(0, 0, 0, 0.1);
	padding: 0;
}
#helperTable tr:first-child td {
	background-color:  rgba(192, 192, 0, 0.3);
}
#helperTable tr:nth-child(2) td {
	background-color: rgba(128, 128, 128, 0.3);
}
#helperTable tr:nth-child(3) td {
	background-color: rgba(128, 64, 0, 0.3);
}
.statTable {
	width: 80%;
	margin: 0 10%;
	font-size: 10px;
	border-collapse: collapse;
}
.statTable tr, .statTable td {
	border: 2px solid hsla(0, 0%, 0%, 0.25);
}
.statTable tr:hover {
	background-color: hsla(0, 90%, 70%, 0.5);
}
.statTable caption {
	font-size: 22px;
}
.statTable td {
	font-size: 12px;
}
#windowHelpers, #windowHelperStats {
	overflow-y: scroll;
}
#notifAch {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
	z-index: 81;
	width: 25%;
	height: 150px;
	background: linear-gradient(hsl(50, 94%, 40%), hsl(50, 94%, 45%), hsl(50, 94%, 35%)) ;
	box-shadow: 0 0 100vh yellow;
	border-radius: 2em;
	z-index: 9999;
	display: none;
	padding: 16px;
}
#notifAch * {
	font-family: URW Bookman L;
	font-weight: bolder;
}
#notifAch h2 {
	font-family: URW Bookman L;
	text-align: center;
	font-size: 22px;
	font-weight: bolder;
	margin: 0.2em 0;
}
#notifAchText {
	margin: 0.5em 2em;
	background-color: transparent;
}
#notifAch h3 {
	display: inline;
	font-size: 18px;
}
.center {
	text-align: center;
	margin: auto;
}
#achievementsTable {
	width: 100%;
}
#windowSqueezer img {
	margin-top: 1em;
	margin-left: 1em;
	border: 2px ridge rgba(128, 128, 128, 0.75);
}
.sortByTable {
	width: 100%;
	-webkit-user-select: none;
	cursor: pointer;
}
.sortByTable tr td {
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.sortByTable tr td:hover {
	background-color: rgba(255, 0, 0, 0.5);
}
.sortByTable tr td:active {
	background-color: rgba(255, 128, 0, 0.5);
}
#windowNameBack {
	width: 100%; height: 100%;
	position: fixed; top: 0; left: 0;
	z-index: 10000; display: none;
	background-color: rgba(0, 0, 0, 0.5);
}
mark {
	color: #f88;
	background-color: transparent;
	font-weight: bolder;
}
.commonBlack {
	color: transparent; background-color: #000;
}
.commonFilled {
	color: transparent;
	background-color: rgba(255, 255, 0, 0.9);
}
.commonDepleted {
	color: transparent;
	background-color: rgba(255, 255, 0, 0.1);
}
#recordStats table {
	width: 90%;
	margin: 0 5%;
	text-align: left;
}
#news {
	-webkit-transition: margin 12s;
	transition: margin 12s;
	font-size: 10px;
}
#realNotif {
	background-color: white;
	color: red;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transition: all 2s;
}
.cool {
	margin: 8px;
	background-color: rgba(255, 255, 255, 0.1);
}
mark.forced {
	color: #f0f;
}

/* Sprites and shit */
.sprite {    background-image: url(../img/spritesheet.png);    background-repeat: no-repeat;    display: inline-block;}

.attention {    width: 27px;    height: 27px;    background-position: -3px -3px;}
.badge {    width: 27px;    height: 27px;    background-position: -36px -3px;}
.charisma {    width: 27px;    height: 27px;    background-position: -69px -3px;}
.charisma2 {    width: 27px;    height: 27px;    background-position: -102px -3px;}
.citroMoney {    width: 27px;    height: 27px;    background-position: -135px -3px;}
.coon {    width: 27px;    height: 27px;    background-position: -168px -3px;}
.coon10b {    width: 27px;    height: 27px;    background-position: -201px -3px;}
.coon11 {    width: 27px;    height: 27px;    background-position: -234px -3px;}
.coon12 {    width: 27px;    height: 27px;    background-position: -3px -36px;}
.coon1a {    width: 27px;    height: 27px;    background-position: -36px -36px;}
.coon1b {    width: 27px;    height: 27px;    background-position: -69px -36px;}
.coon1s {    width: 27px;    height: 27px;    background-position: -102px -36px;}
.coon2a {    width: 27px;    height: 27px;    background-position: -135px -36px;}
.coon2b {    width: 27px;    height: 27px;    background-position: -168px -36px;}
.coon2e {    width: 27px;    height: 27px;    background-position: -201px -36px;}
.coon3a {    width: 27px;    height: 27px;    background-position: -234px -36px;}
.coon3b {    width: 27px;    height: 27px;    background-position: -3px -69px;}
.coon3e {    width: 27px;    height: 27px;    background-position: -36px -69px;}
.coon4a {    width: 27px;    height: 27px;    background-position: -69px -69px;}
.coon4b {    width: 27px;    height: 27px;    background-position: -102px -69px;}
.coon4e {    width: 27px;    height: 27px;    background-position: -135px -69px;}
.coon5a {    width: 27px;    height: 27px;    background-position: -168px -69px;}
.coon5b {    width: 27px;    height: 27px;    background-position: -201px -69px;}
.coon6b {    width: 27px;    height: 27px;    background-position: -234px -69px;}
.coon7b {    width: 27px;    height: 27px;    background-position: -3px -102px;}
.coon8b {    width: 27px;    height: 27px;    background-position: -36px -102px;}
.coon8e {    width: 27px;    height: 27px;    background-position: -69px -102px;}
.coon9b {    width: 27px;    height: 27px;    background-position: -102px -102px;}
.expbonus {    width: 27px;    height: 27px;    background-position: -135px -102px;}
.exprim {    width: 27px;    height: 27px;    background-position: -168px -102px;}
.gentle {    width: 27px;    height: 27px;    background-position: -201px -102px;}
.haus {    width: 27px;    height: 27px;    background-position: -234px -102px;}
.helpers {    width: 27px;    height: 27px;    background-position: -3px -135px;}
.helpersOrder {    width: 27px;    height: 27px;    background-position: -36px -135px;}
.helpersPromote {    width: 27px;    height: 27px;    background-position: -69px -135px;}
.lemonade {    width: 27px;    height: 27px;    background-position: -102px -135px;}
.scout {    width: 27px;    height: 27px;    background-position: -135px -135px;}
.scout10a {    width: 27px;    height: 27px;    background-position: -168px -135px;}
.scout11 {    width: 27px;    height: 27px;    background-position: -201px -135px;}
.scout12 {    width: 27px;    height: 27px;    background-position: -234px -135px;}
.scout13 {    width: 27px;    height: 27px;    background-position: -3px -168px;}
.scout14 {    width: 27px;    height: 27px;    background-position: -36px -168px;}
.scout1a {    width: 27px;    height: 27px;    background-position: -69px -168px;}
.scout1b {    width: 27px;    height: 27px;    background-position: -102px -168px;}
.scout1s {    width: 27px;    height: 27px;    background-position: -135px -168px;}
.scout2 {    width: 27px;    height: 27px;    background-position: -168px -168px;}
.scout2a {    width: 27px;    height: 27px;    background-position: -201px -168px;}
.scout2b {    width: 27px;    height: 27px;    background-position: -234px -168px;}
.scout2e {    width: 27px;    height: 27px;    background-position: -3px -201px;}
.scout3a {    width: 27px;    height: 27px;    background-position: -36px -201px;}
.scout3b {    width: 27px;    height: 27px;    background-position: -69px -201px;}
.scout3e {    width: 27px;    height: 27px;    background-position: -102px -201px;}
.scout4a {    width: 27px;    height: 27px;    background-position: -135px -201px;}
.scout4b {    width: 27px;    height: 27px;    background-position: -168px -201px;}
.scout4e {    width: 27px;    height: 27px;    background-position: -201px -201px;}
.scout5a {    width: 27px;    height: 27px;    background-position: -234px -201px;}
.scout5b {    width: 27px;    height: 27px;    background-position: -3px -234px;}
.scout5e {    width: 27px;    height: 27px;    background-position: -36px -234px;}
.scout6a {    width: 27px;    height: 27px;    background-position: -69px -234px;}
.scout6e {    width: 27px;    height: 27px;    background-position: -102px -234px;}
.scout7a {    width: 27px;    height: 27px;    background-position: -135px -234px;}
.scout7e {    width: 27px;    height: 27px;    background-position: -168px -234px;}
.scout8a {    width: 27px;    height: 27px;    background-position: -201px -234px;}
.scout8e {    width: 27px;    height: 27px;    background-position: -234px -234px;}
.scout9a {    width: 27px;    height: 27px;    background-position: -267px -3px;}
.shop {    width: 27px;    height: 27px;    background-position: -267px -36px;}
.trophy {    width: 27px;    height: 27px;    background-position: -267px -69px;}

#test {
	-webkit-transition: all 2s;
}
#test span {
	float: left;
}
.tooltipNumber {
	color: lime;
	text-shadow: 0 0 8px #000;
	font-size: 14px;
	font-style: normal;
	-webkit-transition: all 2s;
}
.tooltipText {
	color: white;
	text-shadow: 0 0 8px #000;
	font-size: 8px;
	background-color: black;
	border-radius: 8px;
	padding: 2px;
	font-style: normal;
	-webkit-transition: all 6s;
}