body {
	background-color: black;
	font-family: Nimbus Mono L;
	color: lime;
	text-align: center;
}
input {
	background-color: black;
	border: 2px solid lime;
	color: lime;
}
table {
	width: 10%;
	font-size: 8px;
	margin: 8px auto;
}
b {
	color: red;
}
h1 {
	font-size: 1.4em;
}
#guessIndex, #guessGuess {
	width: 1em;
	height: 1em;
	display: none;
}
#solveText {
	display: none;
}
#guesses {
	position: fixed;
	top: 8px;
	right: 8px;
}
#pointsDisplay {
	position: fixed;
	top: 8px;
	left: 8px;
}