body {
	background-color: black;
	font-family: monospace, Nimbus Mono L;
	color: lime;
	text-align: center;
}
input {
	background-color: black;
	border: 2px solid lime;
	color: lime;
}
table {
	width: 10%;
	font-size: 8px;
	margin: 8px auto;
}
b {
	color: lime;
}
h1 {
	font-size: 1.4em;
}
#guesses {
	position: fixed;
	top: 8px;
	right: 8px;
}
#pointsDisplay {
	position: fixed;
	top: 1vh;
	left: 1vh;
	font-size: 3vh;
}
.unconfirmed {
	color: white;
	opacity: 0.2;
}
.hinted {
	color: rgb(0, 255, 0);
	font-weight: bolder;
}
.failed {
	color: rgb(255, 0, 0);
	font-style: italic;
}
.maybe {
	color: rgb(255, 255, 0);
	font-style: italic;
}
.alpha {
	font-size: 2.75vh;
	margin: 0px;
}
.editAlpha {
	width: 1em;
	border: none;
	border-bottom: 1px dotted white;
}