body {
	background-color: black;
	font-family: monospace, Nimbus Mono L;
	color: lime;
	text-align: center;
}
input {
	background-color: black;
	border: 2px solid lime;
	color: lime;
}
table {
	width: 10%;
	font-size: 8px;
	margin: 8px auto;
}
b {
	color: lime;
}
h1 {
	font-size: 1.4em;
}
#guesses {
	position: fixed;
	top: 8px;
	right: 8px;
}
#pointsDisplay {
	position: fixed;
	bottom: 0.5vh;
	left: 0.5vw;
	font-size: 1.5vw;
	clear: both;
}
.unconfirmed {
	color: white;
	opacity: 0.5;
}
.hinted {
	color: rgb(0, 255, 0);
	font-weight: bolder;
}
.failed {
	color: rgb(255, 0, 0);
	font-style: italic;
}
.maybe {
	color: rgb(255, 255, 0);
	font-style: italic;
}
.filler {
	display: inline-block;
	width: 0.5vw;
}
.alpha {
	font-size: 1vw;
	margin: 0.5vw 0.3vw;
	display: inline-block;
	padding: 0.5vh 0.3vw;
	width: 9vw;
	background: linear-gradient(rgba(32, 64, 32, 0.2), rgba(64, 128, 64, 0.5), rgba(128, 255, 128, 0.8));
	cursor: default;
}
.alpha:hover {
	background: linear-gradient(rgba(16, 64, 16, 0.5), rgba(32, 128, 32, 0.8), rgba(64, 255, 64, 1));
}
.grayed {
	opacity: 0.1;
	cursor: no-drop;
	background: none;
}
.grayed:hover {
	background: none;
}
.editAlpha {
	width: 2vw;
	font-size: 1vw;
	text-align: center;
	border: none;
	border-bottom: 1px dotted white;

	cursor: pointer;
}
.editCancel {
	width: 2vw;
	font-size: 1vw;
	text-align: center;
	border: none;
	border-bottom: 1px dotted white;

	cursor: no-drop;
}