.jumbotron {
	background-image: url(jum.png);
	height: 500px;
}
.jumbotron .container {
	position: absolute;
	top: 60px;
	color: hsl(60, 40%, 80%);
}
.jumbotron a {
	color: #fff;
}
.jumbotron h1 {
	padding: 8px;
	font-size: 48px;
}
ul li {
	display: inline;
}
.navbar a, .navbar li {
	position: relative;
	font-weight: bold;
	color: #dfdfdf;
	text-transform: uppercase;
	padding: 8px;
	top: 16px;
}
.red {
	color: red;
}

.rdm, .navbar a.rdm {
	color: hsl(0, 40%, 60%);
}
sup {
	color: hsla(0, 40%, 40%, 0.5);
	font-size: 50%;
	font-style: italic;
	font-size: 10px;
}
.ourgames h2 {
	font-size: 24px;
}

.mousey {
	width: 57px;
	height: 23px;
	display: inline-block;
	z-index: 3;
	-webkit-user-select: none;
}
.mouse {
	background: url(mouse.png);
}
.white_mouse {
	background: url(white_mouse.png);
}
.rat {
	background: url(rat.png);
}
.gray_rat {
	background: url(gray_rat.png);
}
.hamster {
	background: url(hamster.png);
}
.mousePoop {
	width: 4px;
	height: 2px;
	display: inline-block;
	position: absolute;
	background-color: #442;
	border-radius: 100%;
}
.mousey:hover {
	animation: catch 1s infinite;
}
@keyframes catch, -moz-@keyframes catch {
	0%, 100% {
		outline: 2px solid yellow;
		box-shadow: -1px 0px 1px yellow
	}
	50% {
		outline: 1px solid red;
	}
}
.block {
	background: url(block.png);
	width: 36px;
	height: 52px;
	display: inline-block;
	z-index: 4;
	position: absolute;
	image-rendering: pixelated;
}
.mouse_stand {
	background-position: 0px 0px;
	animation: standAnimation 0.1s steps(2) infinite;
	image-rendering: pixelated;
	position: absolute;
}
.mouse_run {
	background-position: 0px -46px;
	animation: runAnimation 0.1s steps(2) infinite;
	image-rendering: pixelated;
	position: absolute;
}
.big {
	transform: scale(2.0);
}
.invul {
	animation: invul 0.02s infinite;
}
.invertSide {
	transform: scale(-1, 1);
}
@keyframes invul {
	0%, 100% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.5;
	}
}

@keyframes standAnimation {
	to {
		background-position: 0px -46px;
	}
}
@keyframes runAnimation {
	to {
		background-position: 0px -92px;
	}
}
.playable {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(bg.png);
	width: 640px;
	height: 480px;
	-webkit-user-select: none;
	display: inline-block;
}

.btn {
	height: 32px;
}
.poisoned {
	filter: sepia(1) saturate(300%) hue-rotate(220deg);
	-webkit-filter: sepia(1) saturate(300%) hue-rotate(220deg);
	animation: pois 3s infinite;
}
@keyframes pois {
	0%, 100% {
		filter: sepia(1) saturate(300%) hue-rotate(220deg);
		-webkit-filter: sepia(1) saturate(300%) hue-rotate(220deg);
	}
	80% {
		filter: sepia(1) saturate(300%) hue-rotate(80deg);
		-webkit-filter: sepia(1) saturate(300%) hue-rotate(80deg);
	}
}
trap {
	background-image: url(traps.png);
	width: 32px;
	height: 32px;
	display: inline-block;
	position: absolute;

	z-index: 99;
}
.t_snaptrap {
	background-position: -32px 0px;
}
.t_poison {
	background-position: -64px 0px;
}
.t_poison2 {
	background-position: -64px 0px;
	filter: hue-rotate(180deg);
	-webkit-filter: hue-rotate(180deg);
}
.t_glue {
	background-position: -96px 0px;
}
.t_bomb {
	background-position: -128px 0px;
}
.fuse1 {
	animation: f1 2s infinite;
}
.fuse2 {
	animation: f2 1s infinite;
}
.fuse3 {
	animation: f2 0.5s infinite;
}
@keyframes f1 {
	0%, 100% {
		background-color: rgba(255, 0, 0, 0.2);
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
@keyframes f2 {
	0%, 100% {
		background-color: rgba(255, 0, 0, 0.5);
		opacity: 0.8;
	}
	50% {
		opacity: 0.2;
	}
}
.t_catower {
	background-image: url(catower.png);
	width: 64px;
	height: 64px;
}