.jumbotron {
	background-image: url(jum.png);
	height: 500px;
}
.jumbotron .container {
	position: absolute;
	top: 60px;
	color: hsl(60, 40%, 80%);
	opacity: 1;
}
.jumbotron a {
	color: #fff;
}
.jumbotron h1 {
	padding: 8px;
	font-size: 48px;
}
ul li {
	display: inline;
}
.navbar a {
	position: relative;
	font-weight: bold;
	color: #dfdfdf;
	text-transform: uppercase;
	padding: 8px;
	top: 16px;
}
.rdm, .navbar a.rdm {
	color: hsl(0, 40%, 60%);
}
sup {
	color: hsla(0, 40%, 40%, 0.5);
	font-size: 50%;
	font-style: italic;
	font-size: 10px;
}
.ourgames h2 {
	font-size: 24px;
}
.game {
	background-color: #000;
	color: #fff;
	background-image: url(img/stars3.png);
	animation: moveStars 120s infinite;
}
.stars2 {
	height: 500px;
	background-image: url(img/stars2.png);
	animation: moveStarsShiny 60s infinite;
}
.stars3 {
	height: 500px;
	background-image: url(img/stars.png);
	animation: moveStarsShiny2 30s infinite;
}

@keyframes moveStars {
	0% {
		background-position: -100% 100%;
	}
	100% {
		background-position: 100% -100%;
	}
}
@keyframes moveStarsShiny {
	0% {
		background-position: -100% 100%;
	}

	100% {
		background-position: 100% -100%;
	}
}
@keyframes moveStarsShiny2 {
	0% {
		background-position: -100% 100%;
	}
	100% {
		background-position: 100% -100%;
	}
}
.spanish:lang(en), .english:lang(es), .es:lang(en), .en:lang(es) {
	display: none;
}
.moneyContainer {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
	border-bottom-left-radius: 8px;
	z-index: 1031;
}

#shipShop, #shipSelector, #inventory, #combatTest {
	display: none;
	height: 400px;
	overflow-y: scroll;
}
.shopItem {
	background-color: #fff;
	color: #000;
	padding: 4px;
	margin: 4px;
	font-size: 10px;
	border-radius: 4px;
	float: left;
	width: 200px;
	height: 100px;
	display: inline-block;
}
#shipData {
	font-size: 10px;
	background-color: #fff;
	color: #000;
	border-radius: 8px;
	padding: 8px;
	width: 360px;
	float: right;
	display: inline;
}
#yourShip {
	float: right;
	background-color: hsla(120, 50%, 50%, 0.8);
	padding: 8px;
}
#enemyShip {
	float: left;
	background-color: hsla(0, 50%, 50%, 0.8);
	padding: 8px;
}
.flipped {
	transform: scale(-1, 1);
}
.attackb {
	width: 23%;
	height: 64px;
	margin: 8px;
	float: left;
}
.active {
	outline: 2px solid yellow;
}
.commonBlack {
	background-color: rgba(0, 0, 0, 0.5);
	color: transparent;
}
.commonFilled {
	background-color: rgba(0, 255, 255, 0.8);
	color: transparent;
}
.commonDepleted {
	background-color: rgba(32, 128, 32, 0.2);
	color: transparent; 
}
.gray {
	opacity: 0.5;
}
.badItem {
	background-color: rgb(255, 192, 192);
}
.goodItem {
	background-color: rgb(192, 255, 192);
}
#projectile {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	border-radius: 100%;
	background-color: yellow;
	box-shadow: 0 0 8px yellow;
	width: 16px;
	height: 16px;
	z-index: 2000;
}
#explosion {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background-color: orange;
	box-shadow: 0 0 64px orange;
	z-index: 2001;
}
.hpfilled {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	background: linear-gradient(#08f, #0f8);
	height: 32px;
	display: inline-block;
}
.hpempty {
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	height: 32px;
	display: inline-block;
}