.jumbotron {
	background-image: url(jum.png);
	height: 500px;
}
.jumbotron .container {
	position: absolute;
	top: 60px;
	color: hsl(60, 40%, 80%);
}
.jumbotron a {
	color: #fff;
}
.jumbotron h1 {
	padding: 8px;
	font-size: 48px;
}
ul li {
	display: inline;
}
.navbar a {
	position: relative;
	font-weight: bold;
	color: #dfdfdf;
	text-transform: uppercase;
	padding: 8px;
	top: 16px;
}
.rdm, .navbar a.rdm {
	color: hsl(0, 40%, 60%);
}
sup {
	color: hsla(0, 40%, 40%, 0.5);
	font-size: 50%;
	font-style: italic;
	font-size: 10px;
}
.ourgames h2 {
	font-size: 24px;
}

.layer {
	background-image: url(img/road.png);
	height: 32px;
	width: 100%;
	position: absolute;

	image-rendering: pixelated;
}
.build {
	background-image: url(img/building.png);
}
.distant {
	width: 100%;
}

.frontlayer_1 {
	transform: scale(8.0);
	opacity: 1;
}
.frontlayer_2 {
	transform: scale(4.0);
	opacity: 0.8;
}
.frontlayer_3 {
	transform: scale(2.0);
	opacity: 0.64;
}
.frontlayer_4 {
	transform: scale(1.0);
	opacity: 0.512;
}

.gaem, .gaem_overlay, person_holder, item_holder {
	position: absolute;
	top: 0px;
	left: 384px;

	background-color: rgba(128, 255, 64, 0.2);
	width: 64px;
	height: 48px;

	zoom: 100%;
}
.debuttons {
	position: fixed;
	right: 0px;
	top: 64px;
	font-size: 10px;
	width: 20%;
}
.hidden {
	opacity: 0.5;
}
outline {
	position: absolute;
	z-index: 999999999;
	width: 30px;
	height: 60px;
}

.tile {
	width: 30px;
	height: 60px;
	position: absolute;
	image-rendering: pixelated;

	background: url(img/tiles.png);
}
.titem {
	width: 30px;
	height: 60px;
	position: absolute;
	image-rendering: pixelated;
	background: url(img/items.png);
}
.tiles {
	background: url(img/tiles.png);
}
.t_road, .tile_tra { background-position: -240px 0px; }
.t_road_ns { background-position: -210px 0px; }
.t_road_walk { background-position: -30px 0px; }
.t_alley { background-position: -60px 0px; }
.t_grass { background-position: -90px 0px; }
.t_road_ew { background-position: -120px 0px; }
.t_cross_ew { background-position: -150px 0px; }
.t_cross_ns { background-position: -180px 0px; }
.t_crossroad { background-position: -270px 0px; }

.guy_layer {
	position: absolute;
	width: 30px;
	height: 60px;
	top: 0px;
	left: 0px;
	font-size: 8px;
}
.myGuy {
	animation: high 1s infinite;
}
@keyframes high {
	0%, 50%, 100% {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	}
	25% {
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	}
}
.walking_0 {
	animation: walk_north 0.3s steps(1) infinite;
}
.walking_2 {
	animation: walk_south 0.3s steps(1) infinite;
}
.walking_1 {
	animation: walk_east 0.3s steps(1) infinite;
}
.walking_3 {
	animation: walk_west 0.3s steps(1) infinite;
}

@keyframes walk_south {
	50% {
		background-position: 0px 0px;
	}
	0% {
		background-position: -30px 0px;
	}
}
@keyframes walk_east {
	50% {
		background-position: 0px -60px;
	}
	0% {
		background-position: -30px -60px;
	}
}
@keyframes walk_north {
	50% {
		background-position: 0px -120px;
	}
	0% {
		background-position: -30px -120px;
	}
}
@keyframes walk_west {
	
	50% {
		background-position: 0px -180px;
	}
	0% {
		background-position: -30px -180px;
	}
}

.tile_building {
	background-image: url(img/building.png);
}
.tile_window {
	background-image: url(img/building_window.png);
}
.tile_someguy {
	background-image: url(img/someguy.png);
}
.tile_somekid {
	background-image: url(img/somekid.png);
}
.tile_someadult {
	background-image: url(img/someadult.png);
}
.tile_someelder {
	background-image: url(img/someelder.png);
}

.tile_building2 {
	background-image: url(img/building2.png);
}
.tile_building3 {
	background-image: url(img/building3.png);
}
.tile_road {
	background-image: url(img/road.png);
}
.tile_stone {
	background-image: url(img/stone.png);
}
.tile_grass {
	background-image: url(img/grass.png);
}
.tile_hidden {
	background-image: url(img/bigtiles.png);
	opacity: 0.5;
}
.tile_door {
	background-image: url(img/bigtiles.png);
	background-position: -30px 0px;
}
.tile_fridge {
	background-image: url(img/bigtiles.png);
	background-position: -60px 0px;
}
.tile_cabinet {
	background-image: url(img/bigtiles.png);
	background-position: -90px 0px;
}
.tile_cooker {
	background-image: url(img/bigtiles.png);
	background-position: -120px 0px;
}
.tile_sink {
	background-image: url(img/bigtiles.png);
	background-position: -150px 0px;
}
.tile_toilet {
	background-image: url(img/bigtiles.png);
	background-position: -180px 0px;
}
.tile_sink2 {
	background-image: url(img/bigtiles.png);
	background-position: -210px 0px;
}
.tile_closet {
	background-image: url(img/bigtiles.png);
	background-position: -240px 0px;
}
.tile_table {
	background-image: url(img/bigtiles.png);
	background-position: -270px 0px;
}
.tile_bed1 {
	background-image: url(img/bigtiles.png);
	background-position: -300px 0px;
}
.tile_bed2 {
	background-image: url(img/bigtiles.png);
	background-position: -330px 0px;
}
.tile_woodwall {
	background-image: url(img/bigtiles.png);
	background-position: -360px 0px;
}
.tile_fence_ns {
	background-image: url(img/bigtiles.png);
	background-position: -390px 0px;
}
.tile_fence_ew {
	background-image: url(img/bigtiles.png);
	background-position: -420px 0px;
}
.tile_fence_door {
	background-image: url(img/bigtiles.png);
	background-position: -450px 0px;
}
.tile_work_door {
	background-image: url(img/bigtiles.png);
	background-position: -480px 0px;
}
.tile_outerwall {
	background-image: url(img/bigtiles.png);
	background-position: -510px 0px;
}

.tile_proto {
	background-image: url(img/proto.png);
	width: 30px;
	height: 60px;
}
.tile_agro {
	background-image: url(img/agro.png);
	width: 30px;
	height: 60px;
}
.top_left_left {
	background-position: 0px 0px;
}
.top_left_middle {
	background-position: -30px 0px;
}
.top_left_right {
	background-position: -60px 0px;
}

.top_middle_left {
	background-position: -90px 0px;
}
.top_middle_middle {
	background-position: -120px 0px;
}
.top_middle_right {
	background-position: -150px 0px;
}

.top_right_left {
	background-position: -180px 0px;
}
.top_right_middle {
	background-position: -210px 0px;
}
.top_right_right {
	background-position: -240px 0px;
}

.middle_right_left {
	background-position: -180px -60px;
}
.middle_right_middle {
	background-position: -210px -60px;
}
.middle_right_right {
	background-position: -240px -60px;
}
.middle_left_right {
	background-position: -60px -60px;
}
.middle_middle_right {
	background-position: -150px -60px;
}

.bottom_right_left {
	background-position: -180px -120px;
}
.bottom_right_middle {
	background-position: -210px -120px;
}
.bottom_right_right {
	background-position: -240px -120px;
}
.bottom_left_right {
	background-position: -60px -120px;
}
.bottom_middle_right {
	background-position: -150px -120px;
}

.deco_1 {
	background-position: 0px -60px;
}
.deco_2 {
	background-position: -30px -60px;
}
.deco_3 {
	background-position: -90px -60px;
}
.deco_4 {
	background-position: -120px -60px;
}

.deco_5 {
	background-position: 0px -120px;
}
.deco_6 {
	background-position: -30px -120px;
}
.deco_7 {
	background-position: -90px -120px;
}
.deco_8 {
	background-position: -120px -120px;
}


.loading {
	position: fixed;
	opacity: 0.5;
	top: 0px;
	right: 0px;
}

.cityMap {
	background-color: rgba(128, 255, 64, 0.2);

	position: relative;
	top: 0px;
	left: 0px;

	margin: auto;
}
.breaker {
	clear: both;
}

.youAreHere {
	animation: blink 1s infinite;
}
@keyframes blink {
	0% {
		-webkit-filter: hue-rotate(180deg);
		filter: hue-rotate(180deg);
		transform: scale(2.0);
		opacity: 1;
	}
	50% {
		-webkit-filter: hue-rotate(0deg);
		filter: hue-rotate(0deg);
		transform: scale(1.0);
		opacity: 0.5;
	}
}

.cityMapTile {
	position: absolute;
	width: 8px;
	height: 8px;
	float: left;

	display: inline-block;
}
#info {
	position: fixed;
	bottom: 0px;
	left: 0px;
}
.display_holder {
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	position: fixed;
	top: 2px;
	right: 2px;
	z-index: 99;
}
#time_display, #money_display {
	padding: 1%;
	width: 98%;
	height: 32px;
}
.notice {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.illegal {
	color: rgb(128, 32, 32);
	animation: illeg 1s infinite;
}
@keyframes illeg {
	0%, 100% {
		color: rgb(128, 32, 32);
	}
	50% {
		color: rgb(255, 64, 64);
	}
}
.itemButton {
	width: 96%;
	padding: 2%;
	font-size: 12px;

	border: 2px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.2);
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}
.itemButton:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.itemButton:active {
	background-color: rgba(200, 255, 255, 0.8);
}
.notice2 {
	width: 100vw;
	height: 100vh;

	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.notice_message {
	display: none;
	position: fixed;
	top: 5%;
	left: 20%;
	padding: 1% 5%;
	width: 50%;
	height: 88%;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(0, 0, 0, 0.8);
	z-index: 99999;
}
#notice_header {
	text-align: center;
}

.wil {
	background-color: rgba(128, 128, 128, 0.9);
}
.tile_wil {
	background-position: -510px 0px;
}
.tile_woodfloor {
	background-position: -540px 0px;
}
.fir {
	background-color: rgba(0, 192, 64, 0.9);
}
.tile_fir {
	background-position: -330px 0px;
}
.sec {
	background-color: rgba(0, 64, 255, 0.9);
}
.tile_sec {
	background-position: -360px 0px;
}
.thi {
	background-color: rgba(128, 0, 0, 0.9);
}
.tile_thi {
	background-position: -390px 0px;
}
.mix {
	background-color: rgba(0, 128, 255, 0.9);
}
.tile_mix {
	background-position: -420px 0px;
}
.res {
	background-color: rgba(255, 128, 0, 0.9);
}
.slum {
	background-color: rgba(64, 64, 64, 0.9);
}
.tile_res {
	background-position: -450px 0px;
}
.par {
	background-color: rgba(0, 255, 0, 0.9);
}
.tile_par {
	background-position: -480px 0px;
}
.tra {
	background-color: rgb(0, 0, 0);
}
.sea {
	background-color: rgb(0, 192, 255);
}
.tile_sea {
	background-position: -300px 0px;
}