.jumbotron {
	background-image: url(jum.png);
	height: 500px;
}
.jumbotron .container {
	position: absolute;
	top: 60px;
	color: hsl(60, 40%, 80%);
}
.jumbotron a {
	color: #fff;
}
.jumbotron h1 {
	padding: 8px;
	font-size: 48px;
}
ul li {
	display: inline;
}
.navbar a {
	position: relative;
	font-weight: bold;
	color: #dfdfdf;
	text-transform: uppercase;
	padding: 8px;
	top: 16px;
}
.rdm, .navbar a.rdm {
	color: hsl(0, 40%, 60%);
}
sup {
	color: hsla(0, 40%, 40%, 0.5);
	font-size: 50%;
	font-style: italic;
	font-size: 10px;
}
.ourgames h2 {
	font-size: 24px;
}

.layer {
	background-image: url(img/road.png);
	height: 32px;
	width: 100%;
	position: absolute;

	image-rendering: pixelated;
}
.build {
	background-image: url(img/building.png);
}
.distant {
	width: 100%;
}

.frontlayer_1 {
	transform: scale(8.0);
	opacity: 1;
}
.frontlayer_2 {
	transform: scale(4.0);
	opacity: 0.8;
}
.frontlayer_3 {
	transform: scale(2.0);
	opacity: 0.64;
}
.frontlayer_4 {
	transform: scale(1.0);
	opacity: 0.512;
}

.gaem {
	position: relative;
	top: 8px;
	left: 25%;

	width: 640px;
	height: 480px;

	background-color: #fea;
}

.tile {
	width: 30px;
	height: 60px;
	position: absolute;
	image-rendering: pixelated;
}
.tile_building {
	background-image: url(img/building.png);
}
.tile_window {
	background-image: url(img/building_window.png);
}
.tile_someguy {
	background-image: url(img/someguy.png);
}
.tile_building2 {
	background-image: url(img/building2.png);
}
.tile_building3 {
	background-image: url(img/building3.png);
}
.tile_road {
	background-image: url(img/road.png);
}
.tile_stone {
	background-image: url(img/stone.png);
}
.tile_grass {
	background-image: url(img/grass.png);
}

.tile_proto {
	background-image: url(img/proto.png);
	width: 30px;
	height: 60px;
}
.top_left_left {
	background-position: 0px 0px;
}
.top_left_middle {
	background-position: -30px 0px;
}
.top_left_right {
	background-position: -60px 0px;
}

.top_middle_left {
	background-position: -90px 0px;
}
.top_middle_middle {
	background-position: -120px 0px;
}
.top_middle_right {
	background-position: -150px 0px;
}

.top_right_left {
	background-position: -180px 0px;
}
.top_right_middle {
	background-position: -210px 0px;
}
.top_right_right {
	background-position: -240px 0px;
}

.middle_right_left {
	background-position: -180px -60px;
}
.middle_right_middle {
	background-position: -210px -60px;
}
.middle_right_right {
	background-position: -240px -60px;
}
.middle_left_right {
	background-position: -60px -60px;
}
.middle_middle_right {
	background-position: -150px -60px;
}

.bottom_right_left {
	background-position: -180px -120px;
}
.bottom_right_middle {
	background-position: -210px -120px;
}
.bottom_right_right {
	background-position: -240px -120px;
}
.bottom_left_right {
	background-position: -60px -120px;
}
.bottom_middle_right {
	background-position: -150px -120px;
}

.deco_1 {
	background-position: 0px -60px;
}
.deco_2 {
	background-position: -30px -60px;
}
.deco_3 {
	background-position: -90px -60px;
}
.deco_4 {
	background-position: -120px -60px;
}

.deco_5 {
	background-position: 0px -120px;
}
.deco_6 {
	background-position: -30px -120px;
}
.deco_7 {
	background-position: -90px -120px;
}
.deco_8 {
	background-position: -120px -120px;
}


.loading {
	position: fixed;
	opacity: 0.5;
	top: 0px;
	right: 0px;
}