.jumbotron {
	background-image: url(jum.png);
	height: 500px;
}
body {
	width: 100vw;
	height: 100vh;
	display: inline-block;
	font-family: Droid Sans;
}
.jumbotron .container {
	position: absolute;
	top: 60px;
	color: hsl(60, 40%, 80%);
}
.jumbotron a {
	color: #fff;
}
.jumbotron h1 {
	padding: 8px;
	font-size: 48px;
}
ul li {
	display: inline;
}
.navbar a {
	position: relative;
	font-weight: bold;
	color: #dfdfdf;
	text-transform: uppercase;
	padding: 8px;
	top: 16px;
}
.rdm, .navbar a.rdm {
	color: hsl(0, 40%, 60%);
}
sup {
	color: hsla(0, 40%, 40%, 0.5);
	font-size: 50%;
	font-style: italic;
	font-size: 10px;
}
.ourgames h2 {
	font-size: 24px;
}

.layer {
	background-image: url(img/road.png);
	height: 32px;
	width: 100%;
	position: absolute;

	image-rendering: pixelated;
}
.build {
	background-image: url(img/building.png);
}
.distant {
	width: 100%;
}

.frontlayer_1 {
	transform: scale(8.0);
	opacity: 1;
}
.frontlayer_2 {
	transform: scale(4.0);
	opacity: 0.8;
}
.frontlayer_3 {
	transform: scale(2.0);
	opacity: 0.64;
}
.frontlayer_4 {
	transform: scale(1.0);
	opacity: 0.512;
}
tho {
	font-style: italic;
	color: rgba(128, 128, 128, 0.8);
}
.coordNotification {
	font-size: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(0, 0, 0, 0.8);
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0 0 4px black;


	position: absolute;
}
.collectible {
	animation: collec 2s infinite;
}
@keyframes collec {
	0%, 85%, 100% {
		filter: brightness(1);
		-webkit-filter: brightness(1);
	}
	90% {
		filter: brightness(0.5);
		-webkit-filter: brightness(0.5);
	}
	95% {
		filter: brightness(2);
		-webkit-filter: brightness(2);
	}
}
#gaem_overlay {
	position: left: 384px;
	top: 172.5px;
}

.gaem, .gaem_overlay, person_holder, item_holder {
	position: absolute;
	top: 0px;
	left: 384px;

	background-color: rgba(128, 255, 64, 0.2);
	width: 64px;
	height: 48px;

	zoom: 100%;
}
item_holder {
	background: url(building.png);
	width: 30px;
	height: 60px;
	display: inline-block;
}
#sleeper {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	z-index: 9999999999;
}


.ts_day {

}
.ts_dawn {
	filter: sepia(0.5) saturate(0.5);
	-webkit-filter: sepia(0.5) saturate(0.5);
}
.ts_dusk {
	filter: sepia(0.5) saturate(2) brightness(0.9);
	-webkit-filter: sepia(0.5) saturate(2) brightness(0.9);
}
.ts_night {
	filter: sepia(0.8) saturate(3) brightness(0.8) hue-rotate(180deg);
	-webkit-filter: sepia(0.8) saturate(3) brightness(0.8) hue-rotate(180deg);
}
.wanted {
	animation: want 0.5s infinite;
}
.outlined, .unavailable {
	/*filter: sepia(1) hue-rotate(80deg) saturate(200);*/
	opacity: 0.5;
}
#wrapper {
	width: 100vw;
	height: 100vh;
	display: block;
}
.guybtn {
	width: 100%;
	display: inline-block;
}
ind {
	margin-left: 30px;
}
@keyframes want {
	0%, 100% {
		border-top: 3px solid rgb(255, 64, 64);
		border-bottom: 3px solid rgb(0, 0, 0);
		background: linear-gradient(rgba(255, 64, 64, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	}
	50% {
		border-top: 3px solid rgb(0, 0, 0);
		border-bottom: 3px solid rgb(64, 64, 255);
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(64, 64, 255, 0.8));
	}
}
.debuttons {
	position: fixed;
	right: 128px;
	top: 0px;
	font-size: 10px;
	width: 20%;
}
.hidden {
	opacity: 0.5;
}
outline {
	position: absolute;
	z-index: 999999999;
	width: 30px;
	height: 60px;
}

.tile, tile {
	width: 30px;
	height: 60px;
	position: absolute;
	image-rendering: pixelated;

	background: url(img/tiles.png);
}
.titem {
	width: 30px;
	height: 60px;
	position: absolute;
	image-rendering: pixelated;
	background: url(img/items.png);
}
.item {
	width: 30px;
	height: 15px;
	background: url(img/items.png);
	display: inline-block;
}
.tiles {
	background: url(img/tiles.png);
}
.t_road, .tile_tra { background-position: -240px 0px; }
.t_road_ns { background-position: -210px 0px; }
.t_road_walk { background-position: -30px 0px; }
.t_alley { background-position: -60px 0px; }
.t_grass { background-position: -90px 0px; }
.t_road_ew { background-position: -120px 0px; }
.t_cross_ew { background-position: -150px 0px; }
.t_cross_ns { background-position: -180px 0px; }
.t_crossroad { background-position: -270px 0px; }

.guy_layer {
	position: absolute;
	width: 30px;
	height: 60px;
	top: 0px;
	left: 0px;
	font-size: 8px;
}
.myGuy {
	animation: high 1s infinite;
}
@keyframes high {
	0%, 50%, 100% {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	}
	25% {
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	}
}
.walking_0 {
	animation: walk_north 0.3s steps(1) infinite;
}
.walking_2 {
	animation: walk_south 0.3s steps(1) infinite;
}
.walking_1 {
	animation: walk_east 0.3s steps(1) infinite;
}
.walking_3 {
	animation: walk_west 0.3s steps(1) infinite;
}

@keyframes walk_south {
	50% {
		background-position: 0px 0px;
	}
	0% {
		background-position: -30px 0px;
	}
}
@keyframes walk_east {
	50% {
		background-position: 0px -60px;
	}
	0% {
		background-position: -30px -60px;
	}
}
@keyframes walk_north {
	50% {
		background-position: 0px -120px;
	}
	0% {
		background-position: -30px -120px;
	}
}
@keyframes walk_west {
	
	50% {
		background-position: 0px -180px;
	}
	0% {
		background-position: -30px -180px;
	}
}

.tile_building {
	background-image: url(img/building.png);
}
.tile_window {
	background-image: url(img/building_window.png);
}
.tile_someguy {
	background-image: url(img/someguy.png);
}
.tile_somekid {
	background-image: url(img/somekid.png);
}
.tile_someadult {
	background-image: url(img/someadult.png);
}
.tile_someelder {
	background-image: url(img/someelder.png);
}

.tile_building2 {
	background-image: url(img/building2.png);
}
.tile_building3 {
	background-image: url(img/building3.png);
}
.tile_road {
	background-image: url(img/road.png);
}
.tile_stone {
	background-image: url(img/stone.png);
}
.tile_grass {
	background-image: url(img/grass.png);
}
.tile_hidden {
	background-image: url(img/bigtiles.png);
	opacity: 0.5;
}
.tile_door {
	background-image: url(img/bigtiles.png);
	background-position: -30px 0px;
}
.tile_fridge {
	background-image: url(img/bigtiles.png);
	background-position: -60px 0px;
}
.tile_cabinet {
	background-image: url(img/bigtiles.png);
	background-position: -90px 0px;
}
.tile_cooker {
	background-image: url(img/bigtiles.png);
	background-position: -120px 0px;
}
.tile_sink {
	background-image: url(img/bigtiles.png);
	background-position: -150px 0px;
}
.tile_toilet {
	background-image: url(img/bigtiles.png);
	background-position: -180px 0px;
}
.tile_sink2 {
	background-image: url(img/bigtiles.png);
	background-position: -210px 0px;
}
.tile_closet {
	background-image: url(img/bigtiles.png);
	background-position: -240px 0px;
}
.tile_table {
	background-image: url(img/bigtiles.png);
	background-position: -270px 0px;
}
.tile_bed1 {
	background-image: url(img/bigtiles.png);
	background-position: -300px 0px;
}
.tile_bed2 {
	background-image: url(img/bigtiles.png);
	background-position: -330px 0px;
}
.tile_woodwall {
	background-image: url(img/bigtiles.png);
	background-position: -360px 0px;
}
.tile_fence_ns {
	background-image: url(img/bigtiles.png);
	background-position: -390px 0px;
}
.tile_fence_ew {
	background-image: url(img/bigtiles.png);
	background-position: -420px 0px;
}
.tile_fence_door {
	background-image: url(img/bigtiles.png);
	background-position: -450px 0px;
}
.tile_work_door {
	background-image: url(img/bigtiles.png);
	background-position: -480px 0px;
}
.get {
	background-color: rgba(128, 192, 128, 0.8);
}
.throw {
	background-color: rgba(128, 128, 128, 0.8);
}
.tile_outerwall {
	background-image: url(img/bigtiles.png);
	background-position: -510px 0px;
}
.tile_bin {
	background-image: url(img/bigtiles.png);
	background-position: -540px 0px;
}
citychunk {
	position: absolute;
}
.loader {
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: right;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 999999;
}
.buildg {
	background: url(img/buildings.png);
	height: 300px;
	width: 30px;
	display: block;
	image-rendering: pixelated;

	position: absolute;
}
.tile_bin2 {
	background-image: url(img/buildings.png);
	background-position: -540px 0px;
}
.tile_belt {
	background-image: url(img/bigtiles.png);
	background-position: -570px 0px;
}
.tile_belt_machinel {
	background-image: url(img/bigtiles.png);
	background-position: -600px 0px;
}
.tile_belt_machiner {
	background-image: url(img/bigtiles.png);
	background-position: -630px 0px;
}
.tile_crystalwall {
	background-image: url(img/bigtiles.png);
	background-position: -660px 0px;
}
.tile_cfence {
	background-image: url(img/bigtiles.png);
	background-position: -690px 0px;
}
.tile_metal_post {
	background-image: url(img/bigtiles.png);
	background-position: -720px 0px;
}
.tile_metal_frame {
	background-image: url(img/bigtiles.png);
	background-position: -750px 0px;
}
.tile_shop_desk {
	background-image: url(img/bigtiles.png);
	background-position: -780px 0px;
}
.tile_shop_desk_machine {
	background-image: url(img/bigtiles.png);
	background-position: -810px 0px;
}
.tile_shop_fridge {
	background-image: url(img/bigtiles.png);
	background-position: -840px 0px;
}
.tile_shop_counter {
	background-image: url(img/bigtiles.png);
	background-position: -870px 0px;
}
.tile_shop_shelf {
	background-image: url(img/bigtiles.png);
	background-position: -900px 0px;
}
.tile_shop_work_door {
	background-image: url(img/bigtiles.png);
	background-position: -930px 0px;
}
.tile_shop_vendor {
	background-image: url(img/bigtiles.png);
	background-position: -960px 0px;
}
.tile_hospital_wall {
	background-image: url(img/bigtiles.png);
	background-position: -990px 0px;
}
.tile_hospital_desk {
	background-image: url(img/bigtiles.png);
	background-position: -1020px 0px;
}
.tile_hospital_blood {
	background-image: url(img/bigtiles.png);
	background-position: -1050px 0px;
}
.tile_hospital_healthmeter {
	background-image: url(img/bigtiles.png);
	background-position: -1080px 0px;
}


.tile_proto {
	background-image: url(img/proto.png);
	width: 30px;
	height: 60px;
}
.tile_agro {
	background-image: url(img/agro.png);
	width: 30px;
	height: 60px;
}
.top_left_left {
	background-position: 0px 0px;
}
.top_left_middle {
	background-position: -30px 0px;
}
.top_left_right {
	background-position: -60px 0px;
}

.top_middle_left {
	background-position: -90px 0px;
}
.top_middle_middle {
	background-position: -120px 0px;
}
.top_middle_right {
	background-position: -150px 0px;
}

.top_right_left {
	background-position: -180px 0px;
}
.top_right_middle {
	background-position: -210px 0px;
}
.top_right_right {
	background-position: -240px 0px;
}

.middle_right_left {
	background-position: -180px -60px;
}
.middle_right_middle {
	background-position: -210px -60px;
}
.middle_right_right {
	background-position: -240px -60px;
}
.middle_left_right {
	background-position: -60px -60px;
}
.middle_middle_right {
	background-position: -150px -60px;
}

.bottom_right_left {
	background-position: -180px -120px;
}
.bottom_right_middle {
	background-position: -210px -120px;
}
.bottom_right_right {
	background-position: -240px -120px;
}
.bottom_left_right {
	background-position: -60px -120px;
}
.bottom_middle_right {
	background-position: -150px -120px;
}

.deco_1 {
	background-position: 0px -60px;
}
.deco_2 {
	background-position: -30px -60px;
}
.deco_3 {
	background-position: -90px -60px;
}
.deco_4 {
	background-position: -120px -60px;
}

.deco_5 {
	background-position: 0px -120px;
}
.deco_6 {
	background-position: -30px -120px;
}
.deco_7 {
	background-position: -90px -120px;
}
.deco_8 {
	background-position: -120px -120px;
}
.safe {
	font-weight: bold;
	color: rgb(0, 255, 96);
}
.danger1 {
	font-weight: bold;
	color: rgb(255, 192, 96);
}


.loading {
	opacity: 0.5;
	z-index: 9999999;
}

.cityMap {
	background-color: rgba(128, 255, 64, 0.2);

	position: fixed;
	bottom: 256px;
	right: 256px;

	margin: auto;
}
.breaker {
	clear: both;
}

.youAreHere {
	animation: blink 1s infinite;
}
@keyframes blink {
	0% {
		-webkit-filter: hue-rotate(180deg);
		filter: hue-rotate(180deg);
		transform: scale(2.0);
		opacity: 1;
	}
	50% {
		-webkit-filter: hue-rotate(0deg);
		filter: hue-rotate(0deg);
		transform: scale(1.0);
		opacity: 0.5;
	}
}

.cityMapTile {
	position: absolute;
	width: 8px;
	height: 8px;
	float: left;

	display: inline-block;
}
#info {
	position: fixed;
	bottom: 0px;
	left: 0px;
}
.display_holder, #display_holder {
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.8);
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 99999999999;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
.outlaw {
	cursor: help;
}
#money_display {
	float: left;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0.25em;
	width: 200px;
	padding: 0.5em;
	text-align: right;
	border-radius: 8px;

	font-size: 16px;
}
.danger2 {
	font-weight: bold;
	color: rgb(255, 16, 16);
}
#date_display {
	float: left;

	width: 10em;
	padding: 0.2em 1em;
	margin: 0.55em;
	text-align: center;

	font-size: 16px;
	font-weight: bolder;
}
.dd_day {
	background: linear-gradient(rgb(128, 192, 255), rgb(64, 128, 255));
	color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 8px rgba(255, 255, 0, 0.5);
}
.dd_dusk {
	background: linear-gradient(rgb(255, 128, 0), rgb(128, 160, 192));
	color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 8px rgba(255, 160, 0, 0.5);
}
.dd_dawn {
	background: linear-gradient(rgb(128, 192, 255), rgb(255, 255, 255));
	color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 8px rgba(255, 255, 128, 0.5);
}
.dd_night {
	background: linear-gradient(rgb(0, 0, 0), rgb(0, 64, 128));
	color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 8px rgba(200, 200, 255, 0.5);
}
.notice {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.illegal, .danger3 {
	color: rgb(128, 32, 32);
	animation: illeg 1s infinite;
}
@keyframes illeg {
	0%, 100% {
		color: rgb(128, 32, 32);
	}
	50% {
		color: rgb(255, 64, 64);
	}
}
.mostwanted {
	animation: mw 1s infinite;
}
@keyframes mw {
	0%, 100% {
		color: rgb(64, 64, 64);
		text-shadow: -1px -1px 0px rgb(255, 0, 255);
	}
	12% {
		color: rgb(128, 64, 128);
		text-shadow: 0px 1px 0px rgb(255, 0, 128);
	}
	25% {
		color: rgb(255, 64, 255);
		text-shadow: 1px -1px 0px rgb(255, 0, 64);
	}
	37% {
		color: rgb(128, 64, 128);
		text-shadow: -1px 0px 0px rgb(255, 0, 32);
	}
	50% {
		color: rgb(64, 64, 64);
		text-shadow: 1px 1px 0px rgb(255, 0, 32);
	}
	62% {
		color: rgb(128, 64, 64);
		text-shadow: 0px -1px 0px rgb(255, 0, 64);
	}
	75% {
		color: rgb(255, 64, 64);
		text-shadow: -1px 1px 0px rgb(255, 0, 128);
	}
	87% {
		color: rgb(128, 64, 64);
		text-shadow: 1px 0px 0px rgb(255, 0, 255);
	}
}
.itemButton {
	width: 96%;
	padding: 2%;
	font-size: 12px;

	border: 2px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.2);
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}
.itemButton:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.itemButton:active {
	background-color: rgba(200, 255, 255, 0.8);
}
.notice2 {
	width: 100vw;
	height: 100vh;

	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.notice_message {
	display: none;
	position: fixed;
	top: 5%;
	left: 10%;
	padding: 1% 5%;
	width: 80%;
	height: 80%;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(0, 0, 0, 0.8);
	z-index: 99999;
}
meter {
	transition: 2s all;
}
#notice_header {
	text-align: center;
}

.wil {
	background-color: rgba(128, 128, 128, 0.9);
}
.tile_wil {
	background-position: -510px 0px;
}
.tile_woodfloor {
	background-position: -540px 0px;
}
.tile_ironfloor {
	background-position: -570px 0px;
}
.tile_clearfloor {
	background-position: -600px 0px;
}
.fir {
	background-color: rgba(0, 192, 64, 0.9);
}
.tile_fir {
	background-position: -330px 0px;
}
.sec {
	background-color: rgba(0, 64, 255, 0.9);
}
.tile_sec {
	background-position: -360px 0px;
}
.thi {
	background-color: rgba(128, 0, 0, 0.9);
}
.tile_thi {
	background-position: -390px 0px;
}
.mix {
	background-color: rgba(0, 128, 255, 0.9);
}
.tile_mix {
	background-position: -420px 0px;
}
.res {
	background-color: rgba(255, 128, 0, 0.9);
}
.slum {
	background-color: rgba(64, 64, 64, 0.9);
}
.tile_res {
	background-position: -450px 0px;
}
.par {
	background-color: rgba(0, 255, 0, 0.9);
}
.tile_par {
	background-position: -480px 0px;
}
.tra {
	background-color: rgb(0, 0, 0);
}
.sea {
	background-color: rgb(0, 192, 255);
}
.tile_sea {
	background-position: -300px 0px;
}